@preset-name: "Default";
@preset-icon: concrete-icon(#002D73, #AD073D, #026937);

@toprow-background-color: #026937;
@header-top-color: #002D73;
@header-bottom-color: #AD073D;

@header-triangle-one-color: #002D73;
@header-triangle-two-color: @header-triangle-one-color;
@header-triangle-three-color: #AD073D;

@header-navigation-color: #002D73;
@header-navigation-hover-color: lighten(@header-navigation-color, 15%);
@dropdown-background-color: fadeout(#002D73, 20%);
@dropdown-link-hover-color: darken(#002D73, 10);

@banner-content-color: white;
@banner-content-highlight-color: #FBB000;

@h1-color: #002D73;
@h2-color: #002D73;
@h3-color: #002D73;
@h4-color: #002D73;
@h5-color: #002D73;

@text-color: #333;

@link-color: #337AB7;
@link-hover-color: lighten(@link-color, 15%);

@page-list-title-background-color: @h1-color;

@promo-one-color: #026937;
@promo-two-color: #e2231a;
@promo-three-color: #fbb000;
@promo-four-color: #c4d600;

@footer-background-color: #002D73;
@footer-bottom-color: #fbb000;
