@preset-name: "Default";
@preset-icon: concrete-icon(#4A0D66, #003764, #D51067);

@body-link-color: #3e7eb1;
@body-link-hover-color: #00658f;
@feature-background-color: #003764;
@feature-pattern-color: #0093B7;
@feature-cyan-background-color: #0e779f;
@feature-cyan-pattern-color: #0093B7;
@feature-orange-background-color: #f15122;
@feature-orange-pattern-color: #FEE300;
@feature-pink-background-color: #d51067;
@feature-pink-pattern-color: #FEE300;
@feature-purple-background-color: #4a0d66;
@feature-purple-pattern-color: #D51067;

@header-background-color: #4A0D66;
@footer-background-color: #003764;
