@import "presets/defaults";
@import (optional) "/application/css/main";

.background-svg(@svg) {
  @-svg-code: escape(~'@{svg}');
  @-inline-svg-code: ~'data:image/svg+xml,@{-svg-code}';
  @-inline-svg-url: ~"url('@{-inline-svg-code}')";
  background-image: @-inline-svg-url;
}

.svg-bullet1(@color1, @color2, @color3, @color4) {
  .background-svg(~'<?xml version="1.0" encoding="UTF-8"?><svg width="22" height="24" viewBox="0 0 22 24" version="1.1" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M0,5.5l11,-5.5l11,5.5l0,13l-11,5.5l-11,-5.5l0,-13Z" style="fill:@{color3};"/><path d="M11,0l11,5.5l0,13l-11,5.5l0,-24Z" style="fill:@{color4};"/><path d="M11,0l11,5.5l-11,5.5l-11,-5.5l11,-5.5Z" style="fill:@{color1};"/><path d="M22,5.5l-11,5.5l0,-11l11,5.5Z" style="fill:@{color2};"/></svg>');
}

.svg-bullet2(@color1, @color2, @color3) {
  .background-svg(~'<?xml version="1.0" encoding="UTF-8"?><svg width="21px" height="25px" viewBox="0 0 21 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="bullet_1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Path-2" fill="@{color2}" fill-rule="nonzero" points="10.5 25 21 18.5 21 6.5 0 6.5 0 18.5"></polygon><polygon id="Path-3" fill="@{color3}" fill-rule="nonzero" points="10.5 25 21 18.5 21 6.5 10.5 12.5"></polygon><polygon id="Path" fill="@{color1}" fill-rule="nonzero" points="0 6.5 10.5 0 21 6.5 10.5 12.5"></polygon></g></svg>');
}

.svg-chevron(@color) {
  .background-svg(~'<?xml version="1.0" encoding="UTF-8"?><svg viewBox="0 0 9.19 15.56" width="9.19" height="15.56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon fill="@{color}" points="1.41 15.56 0 14.14 6.36 7.78 0 1.41 1.41 0 9.19 7.78 1.41 15.56"/></svg>');
}

.svg-timeline-event(@border-color, @background-color, @highlight-color) {
    .background-svg(~'<?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" width="21px" height="21px" viewBox="0 0 21 21" version="1.1"><g id="timeline_event" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><circle id="Oval" stroke="@{border-color}" fill="@{background-color}" fill-rule="nonzero" cx="10.5" cy="10.5" r="10"></circle><circle id="Oval-2" fill="@{highlight-color}" fill-rule="nonzero" cx="10.5" cy="10.5" r="5.5"></circle></g></svg>');
}

.svg-timeline-horizontal(@color) {
    .background-svg(~'<?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" width="50px" height="1px" viewBox="0 0 50 1" version="1.1"><g id="timeline_horizontal" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M0,0.5 L50,0.5" id="Line" stroke="@{color}" fill-rule="nonzero"></path></g></svg>');
}

.svg-timeline-vertical(@color) {
    .background-svg(~'<?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" width="1px" height="50px" viewBox="0 0 1 50" version="1.1"><g id="timeline_vertical" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M0.5,0 L0.5,50" id="Line" stroke="@{color}" fill-rule="nonzero"></path></g></svg>');
}

.bg-squares(@color: #0093B7) {
  .background-svg(~'<?xml version="1.0" encoding="UTF-8"?><svg width="88px" height="153px" viewBox="0 0 88 153" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="bg_squares_blue" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M80,0 L88,0 L88,8 L80,8 L80,0 Z M88,16 L88,24 L80,24 L80,16 L88,16 Z M64,0 L72,0 L72,8 L64,8 L64,0 Z M88,32 L88,40 L80,40 L80,32 L88,32 Z M88,48 L88,56 L80,56 L80,48 L88,48 Z M88,64 L88,72 L80,72 L80,64 L88,64 Z M88,80 L88,88 L80,88 L80,80 L88,80 Z M88,96 L88,104 L80,104 L80,96 L88,96 Z M88,112 L88,120 L80,120 L80,112 L88,112 Z M55.9473684,96 L56,96 L56,96.091954 L55.9473684,96 Z M88,128 L88,136 L80,136 L80,128 L88,128 Z M83.4210526,144 L88,144 L88,152 L83.4210526,144 Z M65.1052632,112 L72,112 L72,120 L69.6842105,120 L65.1052632,112 Z M51.3684211,88 L48,82.1149425 L48,80 L56,80 L56,88 L51.3684211,88 Z M37.6315789,64 L40,64 L40,68.137931 L37.6315789,64 Z M48,0 L56,0 L56,8 L48,8 L48,0 Z M32,0 L40,0 L40,8 L32,8 L32,0 Z M16,0 L24,0 L24,8 L16,8 L16,0 Z M8,0 L8,8 L5.57894737,8 L1,0 L8,0 Z M19.3157895,32 L24,32 L24,40 L23.8947368,40 L19.3157895,32 Z M33.0526316,56 L32,54.1609195 L32,48 L40,48 L40,56 L33.0526316,56 Z M64,16 L72,16 L72,24 L64,24 L64,16 Z M64,32 L72,32 L72,40 L64,40 L64,32 Z M64,48 L72,48 L72,56 L64,56 L64,48 Z M64,64 L72,64 L72,72 L64,72 L64,64 Z M64,80 L72,80 L72,88 L64,88 L64,80 Z M64,96 L72,96 L72,104 L64,104 L64,96 Z M48,16 L56,16 L56,24 L48,24 L48,16 Z M32,16 L40,16 L40,24 L32,24 L32,16 Z M16,16 L24,16 L24,24 L16,24 L16,16 Z M48,32 L56,32 L56,40 L48,40 L48,32 Z M48,48 L56,48 L56,56 L48,56 L48,48 Z M48,64 L56,64 L56,72 L48,72 L48,64 Z M32,32 L40,32 L40,40 L32,40 L32,32 Z" id="Combined-Shape" fill="@{color}" fill-rule="nonzero"></path></g></svg>');
}

.bg-blocks(@color: #D51067) {
  .background-svg(~'<?xml version="1.0" encoding="UTF-8"?><svg width="120px" height="207px" viewBox="0 0 120 207" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="bg_blocks_pink" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M120.125604,26 L120.193931,40.1436979 L117,52 L106.004056,52 L113,78 L102.004056,78 L95,104 L84.004056,104 L91,130 L80.004056,130 L73,156 L62.004056,156 L69,182 L58.004056,182 L51.2693868,207 L40.2693868,207 L47.0040558,182 L58,182 L51,156 L62,156 L69.0040558,130 L80,130 L73,104 L84,104 L91.0040558,78 L102,78 L95,52 L106,52 L113.004056,26 L120.125604,26 Z M117.951412,3.53381484 L120,0 L120.054814,11.3464512 L117.951412,3.53381484 Z M78.345371,71.8542351 L85.8588968,58.893403 L91,78 L80.004056,78 L73,104 L62.004056,104 L69,130 L58.004056,130 L51,156 L40.004056,156 L47,182 L36.004056,182 L29.2693868,207 L18.2693868,207 L25.0040558,182 L36,182 L29.1792515,156.665791 L29.5652174,156 L40,156 L47.0040558,130 L58,130 L53.7623112,114.260013 L59.7101449,104 L62,104 L63.9877866,96.6210682 L74.7826087,78 L80,78 L78.345371,71.8542351 Z M89.8550725,52 L99.4662295,35.4207542 L95,52 L89.8550725,52 Z M104.927536,26 L110.440934,16.4893883 L113,26 L104.927536,26 Z M7.26938677,207 L0,207 L13.5798254,183.574801 L7.26938677,207 Z M14.4927536,182 L21.6690797,169.620838 L25,182 L14.4927536,182 Z M44.6376812,130 L46.2511172,127.216823 L47,130 L44.6376812,130 Z M120.440713,91.2276092 L117,104 L106.004056,104 L113,130 L102.004056,130 L95,156 L84.004056,156 L91,182 L80.004056,182 L73.2693868,207 L62.2693868,207 L69.0040558,182 L80,182 L73,156 L84,156 L91.0040558,130 L102,130 L95,104 L106,104 L113.004056,78 L120.376812,78 L120.440713,91.2276092 Z M120.310611,64.2965566 L117,52 L120.251208,52 L120.310611,64.2965566 Z M96.2693868,207 L85.2693868,207 L92.0040558,182 L102,182 L95,156 L106,156 L113.004056,130 L120.628019,130 L120.687495,142.311521 L117,156 L106.004056,156 L113,182 L103.004056,182 L96.2693868,207 Z M120.566409,117.246662 L117,104 L120.502415,104 L120.566409,117.246662 Z M120.879227,182 L120.951895,197.04217 L118.269387,207 L107.269387,207 L114.004056,182 L120.879227,182 Z M120.753623,156 L120.822207,170.196767 L117,156 L120.753623,156 Z" id="blocks" fill="@{color}" fill-rule="nonzero"></path></g></svg>');
}

.bg-columns(@color: #0093B7) {
  .background-svg(~'<?xml version="1.0" encoding="UTF-8"?><svg width="342px" height="165px" viewBox="0 0 342 165" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="bg_columns_cyan" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M286,127.568371 L286,166 L285,166 L285,127.027831 L284.986834,127.020714 L285,127.012885 L285,98.5683714 L267,108.298101 L267,166 L266,166 L266,108.298101 L248,98.5683714 L248,166 L247,166 L247,98.0278308 L246.986834,98.0207139 L247,98.0128853 L247,50.2981011 L229,40.5683714 L229,69.0128853 L229.013166,69.0207139 L229,69.0278308 L229,166 L228,166 L228,69.5683714 L210,79.2981011 L210,127.012885 L210.013166,127.020714 L210,127.027831 L210,166 L209,166 L209,127.568371 L191,137.298101 L191,166 L190,166 L190,137.298101 L172,127.568371 L172,166 L171,166 L171,127.027831 L170.986834,127.020714 L171,127.012885 L171,98.5683714 L153,108.298101 L153,166 L152,166 L152,108.298101 L134,98.5683714 L134,166 L133,166 L133,98.0278308 L132.986834,98.0207139 L133,98.0128853 L133,50.2981011 L115,40.5683714 L115,69.0128853 L115.013166,69.0207139 L115,69.0278308 L115,166 L114,166 L114,69.5683714 L96,79.2981011 L96,127.012885 L96.0131663,127.020714 L96,127.027831 L96,166 L95,166 L95,127.568371 L77,137.298101 L77,166 L76,166 L76,137.298101 L58,127.568371 L58,166 L57,166 L57,127.027831 L56.9868337,127.020714 L57,127.012885 L57,98.5683714 L39,108.298101 L39,166 L38,166 L38,108.298101 L20,98.5683714 L20,166 L19,166 L19,98.0278308 L18.9868337,98.0207139 L19,98.0128853 L19,50.2981011 L1,40.5683714 L1,166 L5.15143483e-14,166 L5.15143483e-14,40.0278308 L-0.013166288,40.0207139 L5.15143483e-14,40.0128853 L5.15143483e-14,40 L0.0216707614,40 L19.5,28.4182907 L38,39.4182907 L38,12.0278308 L37.9868337,12.0207139 L38,12.0128853 L38,12 L38.0216708,12 L57.5,0.418290723 L76.9783292,12 L77,12 L77,12.0128853 L77.0131663,12.0207139 L77,12.0278308 L77,68.4182907 L95.5,57.4182907 L114,68.4182907 L114,40.0278308 L113.986834,40.0207139 L114,40.0128853 L114,40 L114.021671,40 L133.5,28.4182907 L152,39.4182907 L152,12.0278308 L151.986834,12.0207139 L152,12.0128853 L152,12 L152.021671,12 L171.5,0.418290723 L190.978329,12 L191,12 L191,12.0128853 L191.013166,12.0207139 L191,12.0278308 L191,68.4182907 L209.5,57.4182907 L228,68.4182907 L228,40.0278308 L227.986834,40.0207139 L228,40.0128853 L228,40 L228.021671,40 L247.5,28.4182907 L266,39.4182907 L266,12.0278308 L265.986834,12.0207139 L266,12.0128853 L266,12 L266.021671,12 L285.5,0.418290723 L304.978329,12 L305,12 L305,12.0128853 L305.013166,12.0207139 L305,12.0278308 L305,68.4182907 L323.5,57.4182907 L343.013166,69.0207139 L342,69.5683714 L342,166 L341,166 L341,70.1089119 L324,79.2981011 L324,127.012885 L324.013166,127.020714 L324,127.027831 L324,166 L323,166 L323,127.568371 L305,137.298101 L305,166 L304,166 L304,137.298101 L286,127.568371 Z M286,126.418291 L304,115.715588 L304,69.0278308 L303.986834,69.0207139 L304,69.0128853 L304,12.5683714 L286,22.2981011 L286,98.0128853 L286.013166,98.0207139 L286,98.0278308 L286,126.418291 Z M285,22.2981011 L267,12.5683714 L267,40.0128853 L267.013166,40.0207139 L267,40.0278308 L267,86.715588 L285,97.4182907 L285,22.2981011 Z M323,79.2981011 L305,69.5683714 L305,115.715588 L323,126.418291 L323,79.2981011 Z M266,40.5683714 L248,50.2981011 L248,97.4182907 L266,86.715588 L266,40.5683714 Z M172,126.418291 L190,115.715588 L190,69.0278308 L189.986834,69.0207139 L190,69.0128853 L190,12.5683714 L172,22.2981011 L172,98.0128853 L172.013166,98.0207139 L172,98.0278308 L172,126.418291 Z M171,22.2981011 L153,12.5683714 L153,40.0128853 L153.013166,40.0207139 L153,40.0278308 L153,86.715588 L171,97.4182907 L171,22.2981011 Z M209,126.418291 L209,79.2981011 L191,69.5683714 L191,115.715588 L209,126.418291 Z M152,86.715588 L152,40.5683714 L134,50.2981011 L134,97.4182907 L152,86.715588 Z M58,98.0278308 L58,126.418291 L76,115.715588 L76,69.0278308 L75.9868337,69.0207139 L76,69.0128853 L76,12.5683714 L58,22.2981011 L58,98.0128853 L58.0131663,98.0207139 L58,98.0278308 Z M57,97.4182907 L57,22.2981011 L39,12.5683714 L39,40.0128853 L39.0131663,40.0207139 L39,40.0278308 L39,86.715588 L57,97.4182907 Z M95,79.2981011 L77,69.5683714 L77,115.715588 L95,126.418291 L95,79.2981011 Z M38,40.5683714 L20,50.2981011 L20,97.4182907 L38,86.715588 L38,40.5683714 Z M2.01316629,39.9792861 L19.5,49.4316286 L36.9868337,39.9792861 L19.5,29.5817093 L2.01316629,39.9792861 Z M78.0131663,68.9792861 L95.5,78.4316286 L112.986834,68.9792861 L95.5,58.5817093 L78.0131663,68.9792861 Z M76.5,136.431629 L93.9868337,126.979286 L76.5,116.581709 L59.0131663,126.979286 L76.5,136.431629 Z M40.0131663,11.9792861 L57.5,21.4316286 L74.9868337,11.9792861 L57.5,1.58170928 L40.0131663,11.9792861 Z M38.5,107.431629 L55.9868337,97.9792861 L38.5,87.5817093 L21.0131663,97.9792861 L38.5,107.431629 Z M114,40.0278308 L115,40.5683714 L115,40 L114.021671,40 L114,40.0128853 L114,40.0278308 Z M133.5,49.4316286 L150.986834,39.9792861 L133.5,29.5817093 L116.013166,39.9792861 L133.5,49.4316286 Z M209.5,78.4316286 L226.986834,68.9792861 L209.5,58.5817093 L192.013166,68.9792861 L209.5,78.4316286 Z M190.5,136.431629 L207.986834,126.979286 L190.5,116.581709 L173.013166,126.979286 L190.5,136.431629 Z M171.5,21.4316286 L188.986834,11.9792861 L171.5,1.58170928 L154.013166,11.9792861 L171.5,21.4316286 Z M152.5,107.431629 L169.986834,97.9792861 L152.5,87.5817093 L135.013166,97.9792861 L152.5,107.431629 Z M229,40.5683714 L229,40 L228.021671,40 L228,40.0128853 L228,40.0278308 L229,40.5683714 Z M247.5,49.4316286 L264.986834,39.9792861 L247.5,29.5817093 L230.013166,39.9792861 L247.5,49.4316286 Z M323.5,78.4316286 L340.986834,68.9792861 L323.5,58.5817093 L306.013166,68.9792861 L323.5,78.4316286 Z M304.5,136.431629 L321.986834,126.979286 L304.5,116.581709 L287.013166,126.979286 L304.5,136.431629 Z M285.5,21.4316286 L302.986834,11.9792861 L285.5,1.58170928 L268.013166,11.9792861 L285.5,21.4316286 Z M266.5,107.431629 L283.986834,97.9792861 L266.5,87.5817093 L249.013166,97.9792861 L266.5,107.431629 Z" id="Combined-Shape" fill="@{color}" fill-rule="nonzero"></path></g></svg>');
}

.bg-cubes(@color: #0093B7) {
  .background-svg(~'<?xml version="1.0" encoding="UTF-8"?><svg width="144px" height="250px" viewBox="0 0 144 250" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="bg_cubes_blue" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M74.9846349,210 L146,251.42563 L146,336.741037 L73,294.157704 L0,336.741037 L5.55111512e-17,251.42563 L71.0153651,210 L5.55111512e-17,168.57437 L2.26563926e-18,86.741037 L5.55111512e-17,1.42562967 L72,-40.5743703 L72,-41.741037 L73,-41.1577037 L74,-41.741037 L74,-40.5743703 L146,1.42562967 L146,86.741037 L146,168.57437 L74.9846349,210 Z M73,125.842296 L143.015365,85 L73,44.1577037 L2.98463486,85 L73,125.842296 Z M72,127.57437 L2,86.741037 L2,167.42563 L72,208.258963 L72,127.57437 Z M72,211.741037 L2,252.57437 L2,333.258963 L72,292.42563 L72,211.741037 Z M72,-38.258963 L2,2.57437033 L2,83.258963 L72,42.4256297 L72,-38.258963 Z M144,83.258963 L144,2.57437033 L74,-38.258963 L74,42.4256297 L144,83.258963 Z M144,333.258963 L144,252.57437 L74,211.741037 L74,292.42563 L144,333.258963 Z M144,167.42563 L144,86.741037 L74,127.57437 L74,208.258963 L144,167.42563 Z" id="Combined-Shape" fill="@{color}" fill-rule="nonzero"></path></g></svg>');
}

.bg-quotes(@color: #0093B7) {
  .background-svg(~'<?xml version="1.0" encoding="UTF-8"?><svg width="722px" height="423px" viewBox="0 0 722 423" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="bg_quotes_blue" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Path" stroke="@{color}" stroke-width="2" fill-rule="nonzero" points="20 145 265 3 265 100 340 145 340 328 180 420 20 328"></polygon><polygon id="Path" stroke="@{color}" stroke-width="2" fill-rule="nonzero" points="382 145 627 3 627 100 702 145 702 328 542 420 382 328"></polygon></g></svg>');
}

.bg-navbar-stripe(@color1, @color2, @color3, @color4, @color5, @color6, @color7, @color8) {
    .background-svg(~'<?xml version="1.0" encoding="UTF-8"?><svg width="1200px" height="3px" viewBox="0 0 1200 3" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect x="0" y="0" width="1200" height="3" style="fill:@{color1};"/><rect x="150" y="0" width="1050" height="3" style="fill:@{color2};"/><rect x="300" y="0" width="900" height="3" style="fill:@{color3};"/><rect x="450" y="0" width="750" height="3" style="fill:@{color4};"/><rect x="600" y="0" width="600" height="3" style="fill:@{color5};"/><rect x="750" y="0" width="450" height="3" style="fill:@{color6};"/><rect x="900" y="0" width="300" height="3" style="fill:@{color7};"/><rect x="1050" y="0" width="150" height="3" style="fill:@{color8};"/></svg>');
}

div.ccm-panel-content ul.nav,
div.ccm-panel-content menu {
  display:block;
}

#ccm-theme-grid-edit-mode-row-wrapper {
  display: flex;
  width: 100%;
}

.ws-navbar-main {
  background-color: @header-background-color;
}

.ws-navbar-stripe {
  .bg-navbar-stripe(@navbar-stripe1-color, @navbar-stripe2-color, @navbar-stripe3-color, @navbar-stripe4-color, @navbar-stripe5-color, @navbar-stripe6-color, @navbar-stripe7-color, @navbar-stripe8-color);
}

.ws-page-footer {
  background-color: @footer-background-color;
}

.ws-page-footer .form-control {
  background-color: darken(@footer-background-color, 5%);
  border-color: darken(@footer-background-color, 5%);
}

a {
  color: @body-link-color;

  &:hover {
    color: @body-link-hover-color;
  }
}

.btn-primary {
  background-color: @button-primary-color;
  border-color: @button-primary-color;

  &:hover {
    background-color: darken(@button-primary-color, 7.5%);
    border-color: darken(@button-primary-color, 7.5%);
  }
}

.btn-outline-primary {
  color: @button-primary-color;
  border-color: @button-primary-color;

  &:hover {
    background-color: @button-primary-color;
    border-color: @button-primary-color;
  }
}

.btn-more {

  &,
  &:hover {
    .svg-chevron(@button-primary-color);
  }
}

.ws-feature-content {
  background-color: @feature-background-color;
}

.ws-feature-blue-2 .ws-feature-content {
  .bg-columns(@feature-pattern-color)
}

.ws-feature-cyan .ws-feature-content {
  background-color: @feature-cyan-background-color;
  .bg-squares(@feature-cyan-pattern-color);
}

.ws-feature-orange-2 .ws-feature-content {
  background-color: @feature-orange-background-color;
  .bg-squares(@feature-orange-pattern-color);
}

.ws-feature-pink .ws-feature-content {
  background-color: @feature-pink-background-color;
  .bg-squares(@feature-pink-pattern-color);
}

.ws-feature-purple .ws-feature-content {
  background-color: @feature-purple-background-color;
  .bg-blocks(@feature-purple-pattern-color);
}

.ws-hero-cyan {
  background-color: @hero-cyan-background-color;
  .bg-cubes(@hero-cyan-pattern-color);
}

.ws-hero-purple {
  background-color: @hero-purple-background-color;
  .bg-cubes(@hero-purple-pattern-color);
}

.ws-hero-quote {
  .bg-quotes(@hero-cyan-pattern-color);
}

.ws-hero-standfirst,
.ws-hero-purple .ws-hero-title,
.ws-h-icon {
  .svg-bullet1(@hero-bullet1-top-color, @hero-bullet1-shadow-color, @hero-bullet1-left-color, @hero-bullet1-right-color);
}

.ws-hero-cyan .ws-hero-title {
  .svg-bullet2(@hero-bullet2-top-color, @hero-bullet2-left-color, @hero-bullet2-right-color);
}

.ws-timeline {
  .svg-timeline-vertical(@timeline-color);
}

.ws-timeline-event {
  .svg-timeline-event(@timeline-color, @timeline-background-color, @timeline-background-color);

  &.active {
    .svg-timeline-event(@timeline-color, @timeline-background-color, @timeline-active-color);
  }
}

@media (min-width: 768px) {
  .ws-timeline-horizontal {
    .svg-timeline-horizontal(@timeline-color);

    .ws-timeline-event {
      .svg-timeline-event(@timeline-color, @timeline-background-color, @timeline-background-color);

      &.active {
        .svg-timeline-event(@timeline-color, @timeline-background-color, @timeline-active-color);
      }
    }
  }
}

@import (optional) "custom.less";
