
/* =Color code index
========================================================================================
Topbar Color : #026937;
Heading Color : #002d73;
Body text color : #58585a;
Link Color : #026937;
Link hover Color : #002d73;
Logobox Color : #002d73;
Navigation Color : #002d73;
Banner Corner color : rgba(173,7,61,0.85);
Promotiom one color : #026937;
Promotiom Two color : #e2231a;
Promotiom Three color : #fbb000;
Promotiom Four color : #c4d600;
Newsletter box Color : #026937;
Footer box Color : #002d73;
Footer Corner Color : #fbb000;

*/


/* =Deafult Tag & General Classes
========================================================================================*/






.sidebar .list-unstyled a { display: block; padding-top: 4px; padding-bottom: 6px; }
.breadcrumb { padding-left: 0; padding-right: 0; margin:15px 0 0 ; background:none; }
.breadcrumb > li + li::before { color:#a4a4a4 }
.sprites { background-image: url(../images/bgi/sprites.png); }
.sp-after:after { background-image: url(../images/bgi/sprites.png); display: inline-block; width: 25px; height: 25px; margin-left: 10px; content: ''; vertical-align: middle; }
.sp-before:before { background-image: url(../images/bgi/sprites.png); display: inline-block; width: 25px; height: 25px; margin-right: 10px; content: ''; vertical-align: middle; }

.language-nav { text-align:right; }
.language-nav a { color:#8daf9b;  text-decoration:none; margin:0 3px; }
.language-nav a:hover, .language-nav a.active { color:#fff; }

.searchbox { width:241px; float:right; position:relative; margin:30px 0 10px ; }
.searchbox input[type="submit"] { background-color:transparent; background-image: url(../images/bgi/sprites.png); width:18px; height:18px; font-size:0; line-height:0; text-indent:-9999em; overflow:visible; position:absolute; right:12px; top:0; bottom:0; margin:auto 0; border:0; }
.searchbox .form-control {  padding-right:42px; background-color:transparent; box-shadow:none; height:42px; padding:8px 12px;  }
.searchbox input[type="submit"]:hover { background-position:-22px 0; }
.form-control { border-radius:0; border:solid 1px #89898b; }
.searchbox .form-control:focus {  box-shadow:0 1px 1px rgba(0, 0, 0, 0.10) inset, 0 0 5px rgba(0, 0, 0, 0.10); }
.form-control:focus { box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(0, 0, 0, 0.10); border:solid 1px #7c7c7c; }

.container { padding-left:0; padding-right:0; }


.promobox { margin: 45px 0 35px 0; }
.promobox figure { position:relative; }
.promobox figure figcaption { background:#fff; background:rgba(255,255,255,0.85); color:#58585a; text-transform:uppercase; padding:9px 90px 9px 15px; font-size:16px; position:absolute; left:0; bottom:0; margin:0; width:100%; }
.promobox figure figcaption:after { content:''; width: 0; height: 0; border-style: solid; border-width: 0 0 95px 95px; border-color: transparent transparent #026937 transparent; position:absolute; right:0; bottom:0; -moz-transform:scale(.9999); }
.promobox.promo-one figure figcaption:after { border-color: transparent transparent #026937 transparent; }
.promobox.promo-two figure figcaption:after { border-color: transparent transparent #e2231a transparent; }
.promobox.promo-three figure figcaption:after { border-color: transparent transparent #fbb000 transparent; }
.promobox.promo-four figure figcaption:after { border-color: transparent transparent #c4d600 transparent; }
.promobox figure:hover figcaption:after { border-width: 0 0 105px 105px; }

.latest-blogpost { margin:0 0 55px; }
.blog-date { color:#959595; display:block; padding:5px 0 15px; font-weight:bold; }
.readmore { font-size:14px;  }
.latest-blogpost .readmore  { margin-top:-5px; display:inline-block;  }
.recent-newslist { margin:0; padding:0; list-style:none; color:#959595;  }
.recent-newslist li { padding:7px 0; font-weight:bold; }
.recent-newslist li a, .eventlist li a { color:#58585a; }
.recent-newslist li a:hover, .eventlist li a:hover { color:#026937; }

.eventlist { margin:0; padding:0; list-style:none; font-size:20px; text-transform:uppercase; }
.eventlist li { padding:4px 0 16px 0; line-height:1.15; font-size:19px; }
.eventlist li .event-date { display:block; font-size:18px; }

.photoslist { margin:0 0 0 -30px; padding:0; list-style:none; }
.photoslist li { padding:15px 0 15px 30px; float:left; }
.eventblock { margin:0 0 45px }

.partnersbox { padding:30px 0; }
.partnerlist { margin:0 0 0 -28px; padding:0; list-style:none; }
.partnerlist li { padding:10px 0 10px 28px; float:left; }
.partnerlist li img {  border:solid 1px #58585a; }

.newsletterbox .wrap { background:#026937; color:#fff; padding-top:15px; padding-bottom:15px; position:relative; z-index:2; }
.newsletter-title { margin:0; color:#fff; position:relative; line-height:44px; padding:0 0 0 80px; font-weight:normal; font-size:19px; }
.newsletter-title i { position:absolute; left:0; top:2px; border-radius:9px; background-position:0 -98px; width:47px; height:45px; }

.btn { border-radius:0; }
.newsletter-form { float:right; }
.newsletter-form .form-group { float:left; margin-right:15px; }
.newsletter-form .btn { border:0; font-size:18px; height:44px; width:141px; color:#026937; float:left; vertical-align:middle; }
.newsletter-form .btn:hover, .newsletterbox .btn:focus { background:#ebfff5; }
.newsletter-form .form-control { border:solid 1px #fff; background:none;  height:44px; width:290px; font-size:17px; color:#fff; box-shadow:none; }
.newsletter-form .form-control:focus { box-shadow:none; }
.newsletter-form .form-control::-moz-placeholder { color:#fff; opacity:1; }
.newsletter-form .form-control::-webkit-input-placeholder { color:#fff; opacity:1; }




.thumbnail { border-radius:0;  }
a.thumbnail:hover,a.thumbnail:focus,a.thumbnail.active { border-color:#b0b0b0  }

.page-title { margin-top:0; border-bottom:solid 1px #bcbcbc; padding-bottom:10px; margin-bottom:15px; line-height:1.2; }
.sidebar-title { margin-top:15px; }
.language { margin:24px 0 5px; color:#a4a4a4 }
.language a  { margin:0 5px; }
.language a:hover,.language a:focus, .language a.active { color:#002d73; }

.subnavigation { border-top:solid 1px rgba(0,0,0,0.08); margin:0 0 25px; }
.subnavigation li { border-bottom:solid 1px rgba(0,0,0,0.08); }
.subnavigation li a { position:relative; display:block; padding:2px 0 0 24px; }
.subnavigation li a:hover, .subnavigation li a.active, .subnavigation li a:focus { background:#f0f0f0; }
.subnavigation li a:before { content:'›'; position:absolute; left:10px; line-height:1; font-size:20px; font-weight:normal; top:2px; }
.organization-pic { margin:0; }
.organization-pic .thumbnail { margin:0; }
.page-header { margin-top:0; border-bottom:dotted 1px #d3d3d3; padding-bottom:0; margin-bottom:12px; }
.jumbotron { padding:1.4em 0; margin:0; }
#main .jumbotron .wrap { background:none; margin-top:0; }

.content-rowblock { }
.partnerblock h3 { margin-top:10px; }

.partnerblock .partnerlist { margin-left:-15px; padding-bottom:5px; }
.partnerblock .partnerlist li { width:33.333%; padding-left:15px; }
.partnerblock .partnerlist li img , .partnerblock .partnerlist li.smaller img { width:100%; height:auto; border:0; }
.partnerblock .partnerlist.smaller li { width:20%; padding-left:15px; }


.wider-picture { display:inline-block; }

.header-block { position:relative; width:100%; z-index:22; top:0; }
